# Порт, на котором запускается сервер
PORT=

# Токен Telegram-бота (получить у @BotFather)
TELEGRAM_BOT_TOKEN=

# Chat ID для отправки чеков заказов
# Для локального тестирования можно использовать Telegram chat ID: 6635199967
CHAT_ID=
